body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.container {
  text-align: center;
  border: 2px solid black;
  width: 500px;
  height: 300px;
  background-color: aquamarine;
}
input[type="number"] {
  width: 50px;
  margin: 5px;
}
button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
/* html {
  height: 100%;
  width: 100%;
} */
